
    {{#if (and auth.user.role.postcomment session.isAuthenticated)}}
    <div class="outline_4_d patch_comment">
      <div>
      <label>Add comment</label><br>
      {{textarea class="outline_4_s" type="text" rows="6" cols="80" placeholder="Comment.." value=comment}}
      </div>
      <button class="outline_4_s" {{action 'sendComment' comment model}}>Send</button>
    </div>

    {{else}}
    {{#if (not auth.user.postcomment)}}
      <div>
        You are not allowed to comment
      </div>
    {{else}}
      <div>
        Please Log in to write a comment
      </div>
      <button class="outline_4_s" {{action 'gotoLogin'}}>Log in</button>
    {{/if}}
    {{/if}}
