
<div class="ticket_link_ovw"> {{#link-to "support" }}
<article class="ticket_list">
    <div class="ticket_list_details">
        <h3>Ticket: {{this.ticket.title}}</h3>
        <div class="ticket_list_details subject">
            <span>From: {{this.ticket.date}}</span><br>
            <span>Subject: {{ticket-definer this.ticket.subject}} - {{this.ticket.subject}}</span>
        </div>
        <div class="ticket_list_details content">
            <span>Content: {{this.ticket.content}}</span>
        </div>
    </div>
</article>
{{/link-to}}
</div>