
{{#link-to "support.ticket" ticket.id}}
<article>
    <div>
        <span>Ticket: {{ticket.title}}</span><br>
        <div>
            <span>From: {{moment-format ticket.date 'MMMM D, YYYY h:mm A'}}</span><br>
            <span class="t_id">ID: {{ticket.id}}</span><br>
            <span>Subject: {{ticket-definer ticket.subject}} - {{ticket.subject}}</span>
        </div>
        <div>
            <span>Content: {{ticket.content}}</span>
        </div>
    </div>
</article>
{{/link-to}}
