{{#if (and session.isAuthenticated auth.user.role.manageroles)}}
<form>
    <div class="role_ovw _one">
        <label class="role_label">Create a comment?</label>
          {{input type="checkbox" checked=this.comment class="role_checkboard"}}

    </div>
    <div class="role_ovw _two">
        <label class="role_label">Create a ticket?</label>
        {{input type="checkbox" checked=this.createTicket class="role_checkboard"}}
    </div>
    <div class="role_ovw _one">
        <label class="role_label">Manage patches?</label>
          {{input type="checkbox" checked=this.patches class="role_checkboard"}}
    </div>
    <div class="role_ovw _two">
        <label class="role_label">Manage roles?</label>
          {{input type="checkbox" checked=this.roles class="role_checkboard"}}
    </div>
    <div class="role_ovw _one">
        <label class="role_label">Manage users?</label>
          {{input type="checkbox" checked=this.users class="role_checkboard"}}
    </div>
    <div class="role_ovw _two">
        <label class="role_label">Create a post?</label>
          {{input type="checkbox" checked=this.post class="role_checkboard"}}
    </div>
    <div class="role_ovw _one">
        <label class="role_label">Read tickets?</label>
          {{input type="checkbox" checked=this.answerTicket class="role_checkboard"}}
    </div>
{{input class="rolename_field" type="text" value=this.rolename placeholder=model.rolename}}
</form>


<button class="apply_btn" {{action 'saveCreate'}}>Save/Create</button>
{{/if}}
