<div class="row5">
  <div class="col-2">
    {{#if (and session.isAuthenticated auth.user.role.manageroles)}}
    <form>
        <div class=" _one">
            <label>Create a comment?</label>
              {{input type="checkbox" checked=this.comment}}

        </div>
        <div class=" _two">
            <label>Create a ticket?</label>
            {{input type="checkbox" checked=this.createTicket}}
        </div>
        <div class=" _one">
            <label>Manage patches?</label>
              {{input type="checkbox" checked=this.patches}}
        </div>
        <div class=" _two">
            <label>Manage roles?</label>
              {{input type="checkbox" checked=this.roles}}
        </div>
        <div class=" _one">
            <label>Manage users?</label>
              {{input type="checkbox" checked=this.users}}
        </div>
        <div class=" _two">
            <label>Create a post?</label>
              {{input type="checkbox" checked=this.post}}
        </div>
        <div class=" _one">
            <label>Read tickets?</label>
              {{input type="checkbox" checked=this.answerTicket }}
        </div>
    {{input type="text" class="rolename" value=this.rolename placeholder="Rolename"}}
    </form>


    <button {{action 'saveCreate'}}>Save/Create</button>
    {{/if}}
  </div>
</div>
