{{#if (and session.isAuthenticated auth.user.role.manageroles)}}
<form>
    <div class="role_ovw _one">
        <label class="role_label">Create a comment?</label>
          {{input type="checkbox" checked=model.postcomment class="role_checkboard"}}

    </div>
    <div class="role_ovw _two">
        <label class="role_label">Create a ticket?</label>
        {{input type="checkbox" checked=model.createticket class="role_checkboard"}}
    </div>
    <div class="role_ovw _one">
        <label class="role_label">Manage patches?</label>
          {{input type="checkbox" checked=model.managepatch class="role_checkboard"}}
    </div>
    <div class="role_ovw _two">
        <label class="role_label">Manage roles?</label>
          {{input type="checkbox" checked=model.manageroles class="role_checkboard"}}
    </div>
    <div class="role_ovw _one">
        <label class="role_label">Manage users?</label>
          {{input type="checkbox" checked=model.manageusers class="role_checkboard"}}
    </div>
    <div class="role_ovw _two">
        <label class="role_label">Create a post?</label>
          {{input type="checkbox" checked=model.createpost class="role_checkboard"}}
    </div>
    <div class="role_ovw _one">
        <label class="role_label">Read tickets?</label>
          {{input type="checkbox" checked=model.readticket class="role_checkboard"}}
    </div>

{{input class="rolename_field" type="text" value=model.rolename placeholder=model.rolename}}

</form>

<button class="apply_btn" {{action 'applyChanges'}}>Save changes</button>
{{/if}}
