<div class="row">
  <div class="col-4 outline_4_s ">
    <form>
        <div>
            <label>Title</label><br>
            {{input class="bg_nav outline_4_s" type="text" required=true value=title placeholder="Add title"}}
        </div>
        <div>
            <label>Subject</label><br>
            {{input class="bg_nav outline_4_s" type="text" required=true value=subject placeholder="Add subject"}}
        </div>
        <div>
            <label>Occured date</label><br>

            {{pikaday-input class="bg_nav outline_4_s" onSelection=(action 'setDate') id="pikaday" placeholder="Date" type="date" value=date format="YYYY-MM-DD"}}
        </div>
        <div>
            <label>Description</label><br>

            {{textarea class="bg_nav outline_4_s" cols="40" rows="5" required=true value=content placeholder="Add Description"}}
        </div>
        <button class="bg_nav outline_4_s"  {{action 'newTicket'}} >Submit ticket</button>

    </form>
  </div>
</div>
