<div>
  <!-- model.* um auf das in route definierte model zuzugreifen-->
  <!-- edit-funktion hinzufügen-->
  <div>
    <button class="patch_btns1" {{action "deletePatch"}}> Delete patch</button>
  </div>

  <div class="patch_single_frame">

    <form class="patch_single">

        <div>
            <label> Version:</label><br>
            {{model.version}}<br>
            <br><label> Release-Date:</label><br>
            {{moment-format model.date 'MMMM D, YYYY h:mm A'}}<br><br>
        </div>
        <div>
            <label> Focus:</label><br>
            <div>
            {{model.focus}}<br><br><br>
          </div>
        </div>
        <div>
            <label> Content of Patch:</label><br><br>
              <div>
            {{model.details}}
          </div>
        </div>
    </form>

    <div>
      {{add-comment-to-patch patch=model}}
    </div>


    <div class="comment_on_patch">
    {{comment-list-patch model=model}}
    </div>
  </div>


</div>
