
  <!-- model.* um auf das in route definierte model zuzugreifen-->
  <!-- edit-funktion hinzufügen-->
<div class="row15">
  <div class="col-2">
    {{#if (and auth.user.role.manageroles session.isAuthenticated) }}
    <div>
      <button {{action "deletePatch"}}> Delete patch</button>
    </div>
    {{/if}}
  </div>
</div>


<div class="row16">
  <div class="col-7">
    <form class="sgl_ptch">
        <div>
            <label> Version:</label><br>
            {{model.version}}<br>
            <br><label> Release-Date:</label><br>
            {{moment-format model.date 'MMMM D, YYYY HH:mm'}}<br><br>
        </div>
        <div>
            <label> Focus:</label><br>
            <div>
            {{model.focus}}<br><br><br>
          </div>
        </div>
        <div>
            <label> Content of Patch:</label><br><br>
              <div>
            {{{string-to-html model.details}}}
          </div>
        </div>
    </form>

      {{add-comment-to-patch patch=model}}


      <div class="cmt_list">
        {{#each model.comments as |comment|}}
        <div class="cmt_frame">
            {{comment.user.username}}:
            <br>
            {{comment.text}}
        </div>

        {{else}}
            <h4>No comments</h4>
        {{/each}}
      </div>
    </div>
  </div>
