
  <!-- model.* um auf das in route definierte model zuzugreifen-->
  <!-- edit-funktion hinzufügen-->
  <div class="col-2 del_patch">
    {{#if (and auth.user.role.manageroles session.isAuthenticated) }}
    <div>
      <button {{action "deletePatch"}}> Delete patch</button>
    </div>
    {{/if}}
  </div>

  <div class="col-7 outline_4_d scrollable sgl_ptch">
    <form class="outline_4_d">
        <div>
            <label class="acc"> Version:</label><br>
            {{model.version}}<br>
            <br><label class="acc"> Release-Date:</label><br>
            {{moment-format model.date 'MMMM D, YYYY HH:mm'}}<br><br>
        </div>
        <div>
            <label class="acc"> Focus:</label><br>
            <div>
            {{model.focus}}<br><br><br>
          </div>
        </div>
        <div>
            <label class="acc"> Content of Patch:</label><br><br>
              <div>
            {{{string-to-html model.details}}}
          </div>
        </div>
    </form>

      {{add-comment-to-patch patch=model}}


      <div class="outline_4_d">
        {{#each model.comments as |comment|}}
        <div class="cmt_frame">
            <span class="acc">{{comment.user.username}}:</span>
            <br>
            {{comment.text}}
        </div>

        {{else}}
            <h4 style="text-align: center;">No comments</h4>
        {{/each}}
      </div>
    </div>
