<div class="row7">
  <div class="col-9">
  <!-- model.* um auf das in route definierte model zuzugreifen-->
  <!-- edit-funktion hinzufügen-->
  {{#if (and auth.user.role.manageroles session.isAuthenticated) }}
  <div class="del_btn_ptch">
    <button {{action "deletePatch"}}> Delete patch</button>
  </div>
  {{/if}}
  <div class="ptch_sgl">

    <form>

        <div>
            <label> Version:</label><br>
            {{model.version}}<br>
            <br><label> Release-Date:</label><br>
            {{moment-format model.date 'MMMM D, YYYY HH:mm'}}<br><br>
        </div>
        <div>
            <label> Focus:</label><br>
            <div>
            {{model.focus}}<br><br><br>
          </div>
        </div>
        <div>
            <label> Content of Patch:</label><br><br>
              <div>
            {{{string-to-html model.details}}}
          </div>
        </div>
    </form>

    <div class="row8">
      <div class="col-9 add_cmt">
      {{add-comment-to-patch patch=model}}
      </div>
    </div>


    <div class="row9">
      <div class="col-9 cmt_lst">
        {{#each model.comments as |comment|}}

          <div>
            {{comment.user.username}}:
            <br>
            {{comment.text}}
          </div>


        {{else}}
            <h4>No comments</h4>
        {{/each}}
      </div>
    </div>

  </div>
  </div>
</div>
