<div class="row11">
  <div class="col-2 register">
    <form>
      <p style="font-size:1.4vw;margin:0.5vw 0vw 2vw 0vw">Login</p>
    <label>Username</label><br>
    {{input type="text" value=username placeholder="Username"}}<br>
    <label>E-Mail</label><br>
    {{input type="text" value=email placeholder="E-Mail"}}<br>
    <label>Password</label><br>
    {{input type="password" value=password1 placeholder="Password"}}<br>
    <label>Confirm password</label><br>
    {{input type="password" value=password2 placeholder="Confirm password"}}<br>
    <label>Avatar (optional)</label><br>
    {{input type="text" value=avatar placeholder="Link to image"}}<br>
    <button {{action 'createAccount' email password1 password2 username avatar}}>Register</button>
    </form>
  </div>
</div>
