<!--

Plan for the whole section:

  -Online status of 'friends'
  -List possible friends [know a friend of a friend]
  -Add user as friend after accept of friend-request after search with name
  -Block users never have to see their content again
  -Click on username -> goto profile of them with maybe a bio and such
  -Report to moderator
  -Notifications [Friend req.]
  -Send images/Links
  -Challenge them to a game
  -Groupchats
  -Voice-Chat [?]
  -Watch2gether-feature-like clone
  -Commands and custom emotes

-->

<!-- Linksseitige overview, aufklappbar nach grp sortiert [Online und offline only]-->
  <div class="col-2 outline_r friend_nav">

    {{#link-to "friends.add"}}
      <div class="acc bg_nav_div" style="text-align: center;">
        Add new friend
      </div>
    {{/link-to}}

    {{#each auth.user.friend as |friend|}}
    <div>
      <button {{action "chatWith" friend}}>{{friend.username}}<br>
        Status: <span class="{{if friend.online 'no_acc' 'acc'}}">{{if friend.online "Online" "Offline"}}</span></button>
    </div>
    {{else}}

    <div>
      No friends online
    </div>
    {{/each}}
    {{#if (or auth.user.sendfq auth.user.recfq)}}
    {{#link-to "friends.reqs"}}
    <div>
      {{#if auth.user.sendfq}}
        <span class="acc" style="padding-left: 5%;">You send {{auth.user.sendfq.length}} friend requests.</span>
      {{/if}}
      {{#if auth.user.recfq}}
        <span class="acc" style="padding-left: 5%;">You have {{auth.user.recfq.length}} friend requests.</span>
      {{/if}}
    </div>
    {{/link-to}}
    {{/if}}

  </div>

{{outlet}}

<!--
{{#link-to "friends.chat.user" friend.username}}
<div class="outline_t_b_s friendlist">
  {{friend.username}}<br>
  Status: <span class="{{if friend.online 'no_acc' 'acc'}}">{{if friend.online "Online" "Offline"}}</span>
</div>
{{/link-to}}
-->
