<div class="friends">
  <div class="nav scrollable">
    {{#link-to 'friends.add'}}
      <div class="friend bg_nav_div head">
        Add a new friend
      </div>
    {{/link-to}}
    {{#link-to 'friends.groupchat.new'}}
      <div class="friend bg_nav_div head">
        Create a groupchat
      </div>
    {{/link-to}}

    <span class="ovw" style="text-align:left;font-size:1.1em;margin-top: 5%;">Private chats:</span>
    <div class="no_border">
      {{#each auth.user.friend as |friend|}}
        {{#link-to 'friends.chat.user' friend.username}}
          <div class="friend {{if (eq friend.username auth.chat.username) 'acc_route'}}">
            {{friend.username}}<br>
            Status: <a href='#' class=" {{if friend.online 'no_acc' 'acc'}}">{{if friend.online 'online' 'Offline'}}</a>
          </div>
        {{/link-to}}
      {{/each}}
    </div>

    <span class="ovw" style="text-align:left;font-size:1.1em;margin-top: 5%;">Groupchats:</span>
    <div class="no_border">
    {{#each auth.user.groupchats as |grp|}}
      {{#link-to 'friends.chat.user' grp.name}}
        <div class="friend {{if (eq grp.name auth.chat.name) 'acc_route'}}">
          {{grp.name}}
        </div>
      {{/link-to}}
    {{/each}}
  </div>
</div>

  <div class="rest">
    {{outlet}}
  </div>

</div>


<!--

  FIRST: REWORK THE "BACKEND"

Plan for the whole section:
  -Online status of 'friends'
  -List possible friends [know a friend of a friend]
  -Add user as friend after accept of friend-request after search with name
  -Block users never have to see their content again
  -Click on username -> goto profile of them with maybe a bio and such
  -Report to moderator
  -Notifications [Friend req.]
  -Send images/Links
  -Challenge them to a game
  -Groupchats
  -Voice-Chat [?]
  -Watch2gether-feature-like clone
  -Commands and custom emotes
-->
