<div class="row outline_r">
  <div class="col-2 outline_4_d scrollable bg_nav user_ovw_roles">
    {{#if (and session.isAuthenticated auth.user.role.manageusers)}}
      <div>
        <div>
          <button class="bg_nav_div" {{action 'gotoManageUsers'}}>
            Edit user role assignment
          </button>
        </div>
            <!-- Role list small on left with specific users that own this role-->
            {{#each roles as |role|}}
              <button class="bg_nav_div" {{action 'toggleUser'}}>{{role.rolename}}</button><br>
                <div class="role_nav_roles_user bg_nav {{if showUser 'showdiv'}}">
                  {{#each model.users as |usern|}}
                    {{#if (eq usern.role.id role.id)}}
                      <div>
                        {{usern.username}}<br>
                      </div>
                    {{/if}}
                  {{/each}}
                </div>
            {{/each}}
      </div>
    {{/if}}
  </div>



  <div class="col-2 dropdown bg_nav">
    {{#if (and session.isAuthenticated auth.user.role.manageroles)}}
      <!-- Roles overview with dropdown to select role-->
      <button class="role_dropbtn bg_nav_div scrollable">Select role</button>
        <div class="drop_content bg_nav scrollable">
          {{#each roles as |role|}}
            {{#link-to 'role-editor.show-edit' role.id}}
              <div>
                {{role.rolename}}<br>
              </div>
            {{/link-to}}
          {{/each}}
            {{#link-to 'role-editor.new'}}
              <div>
                New role
              </div>
            {{/link-to}}
        </div>
    {{/if}}
  </div>
      <!-- Detailed list for specific role-->
      {{outlet}}

</div>
